@charset "UTF-8";

#addrecordArea{
    width: 80%;
<<<<<<< Updated upstream
    height: 90%;
=======
    height: 75%;
>>>>>>> Stashed changes
    background-color: white;
    box-shadow:5px 5px 10px #cccccc;
    margin:auto;
    padding:1%;
}

.raceLabel{
	text-align: left;
	width: 150px;
	font-size: 20px;
	text-indent: 30px;
	font-weight: bold;
	line-height: 50px;
}

.rankLabel{
	text-align: center;
	width: 150px;
	font-size: 25px;
	text-indent: 30px;
	font-weight: bold;
	line-height: 50px;
}

.inputInfo{
	height: 20px;
	width:130px;
	margin-top: 10px;
	float: left;
}




