@charset "UTF-8";

#loginArea{
	position: absolute;
	right: 200px;
    width: 450px;
    height: 250px;
    top: 95px;
    background-color: white;
    box-shadow:5px 5px 10px #cccccc;
}

.loginLabel{
	float: left;
	width: 100px;
	font-size: 20px;
	text-indent: 30px;
	font-weight: bold;
	line-height: 50px;
}



